:root {
    --fuente: 'Instrument Serif', serif;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: rgb(133, 29, 29);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    text-decoration: none;
}
img{
    max-width: 100%;
}
h1,h1,h3{
    text-align: center;
    font-family: var(--fuente);
    color: #FFD700;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
/*Header*/
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}
.navegacion{
    background-color:rgb(114, 23, 23) ;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}
.navegacion__items{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    font-family: var(--fuente);
    margin-left: 3rem;
    margin-right: 3rem;
}
.navegacion__items:hover{
    color: #FFD700;
}


.footer{
    margin-top: 2rem;
    background-color: rgb(114, 23, 23);
    padding: 1rem 0;
}
.footer__txt{
    font-family: var(--fuente);
    color: white;
    text-align: center;
    font-size: 2rem;

}
/*--------PRODUCTO----------*/
.producto{

}
.producto__imagen{

}

.producto__informacion{

}

.producto__nombre{

}
.producto__precio{
    
}